header {
  background-color: #562b81;
  color: white;
  font-family: Optima, sans-serif;
  font-weight: 100;
}

img {
  width: 95%;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

body {
  background-color: #f0f0f0;
  font-family: Optima, sans-serif;
}

input {
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border-color: #e6e6e6;
}

.image-container {
  padding-bottom: 1rem;
}

.save {
  background-color: #562b81;
  color: white;
  border-radius: 10px;
  border-color: #562b81;
  margin-right: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.8rem;
}

.save-container {
  display: flex;
  justify-content: flex-end;
}

textarea {
  border-radius: 8px;
  margin-top: 0.4rem;
}

label {
  font-weight: bold;
}

.code-journal {
  font-size: 1.1rem;
}

.one-row {
  display: flex;
}

.new-button {
  margin-left: 12rem;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  background-color: #562b81;
  color: white;
  border-radius: 10px;
}

.no-entries-text {
  text-align: center;
}

@media screen and (min-width: 768px) {
  textarea {
    padding-right: 22.5rem;
  }

  .code-journal {
    padding-left: 1rem;
  }

  .new-button {
    margin-left: 36rem;
  }

  li {
    margin-bottom: 3rem;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}
